body {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:100vh;
    background-color: #FFFDEC;
}

.calculator-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #4B5945;
    padding: 20px;
    gap: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.display-container {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 10px;
    background-color: #FFE2E2;
    border-radius: 6px;
    gap: 15px;
    margin-bottom: 20px;
}

#zero {
    width: 180px;
}

input {
    background-color: rgba(15, 1, 1, 0);
    color: rgba(105, 101, 101, 0.9);
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    font-size: 48px;
    font-weight: bold;
    text-align: right;
    margin-right: 0px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 80px;
    background-color: rgb(56, 50, 50);
    color: white;
    font-size: 1.5rem;
    border-radius: 9px;
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
}

.header {
    background-color: #86A788;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.footer {
    background-color: #86A788;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 10px 10px 0px 0px;
    font-size: 1.5rem;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 0px;
    background-color: #ffcfcf4b;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: #333;
}

.button {
    width: 90px;
    height: 80px;
    background-color: #86A788;
    color: white;
    font-size: 1.5rem;
    border-radius: 9px;
}